body {
    margin: auto;
    padding: 30px 100px 30px 100px;
}
#grid1 {
    width: 90%;
    height: 250px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 50px;

    padding: 30px 0 30px 0;
    
}
.element {
    width: 100%;
    background-color: lightcoral;
    background-image: url("placeholder-image.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.box {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: beige;
    top: 85px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-size: 0.9em;
}
p {
    display: inline-block;
    width: 90%;
}

@media screen and (max-width: 1024px) {
    #grid1 {
        width: 90%;
        height: 550px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 50px;
    
        padding: 30px 0 30px 0;
    }
    .box {
        font-size: 0.8em;
    } 
}
@media screen and (max-width: 414px) {
    #grid1 {
        width: 90%;
        height: 1500px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        gap: 50px;
    
        padding: 30px 0 30px 0;
    }
    .box {
        font-size: 0.7em;
    } 
}
